@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  user-select: none;
  padding: 0;
  margin: 0;
}

/* Hide number input arrows in Chrome, Safari, and Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Hide number input arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
